<nav
  class="navbar navbar-dark sticky-top custom-navbar flex-md-nowrap p-0 shadow"
>
  <div class="col-1" id="logoSigepark">
    <img
      src=".\assets\img\logoTitulo2.png"
      class="img-responsive"
      alt="Sistema de gestion de Parking"
    />
  </div>
  <div class="col-8"></div>
  <input
    class="form-control form-control-dark w-100"
    type="text"
    placeholder="Buscar"
    aria-label="Buscar"
  />
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Salir</a>
    </li>
  </ul>
</nav>
