<body>
  <div class="row"></div>
  <div class="container-fluid mt-4">
    <p class="tituloText">OPERACIÓN</p>
    <div class="row justify-content-center">
      <div class="col-auto mb-3">
        <div class="card">
          <div class="card-body">
            <p class="tituloTextCard">ENTRADAS / SALIDAS</p>
            <div class="container">
            <a routerLink="tickets" >
              <button class="btn btn-warning">
                OPERAR
              </button></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-auto mb-3">
        <div class="card">
          <div class="card-body">
            <p class="tituloTextCard">OCUPACIÓN</p>
            <div class="container">
              <a routerLink="plazas" >
              <button class="btn btn-warning">
                VER LISTADOS
              </button></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-auto mb-3">
        <div class="card">
          <div class="card-body">
            <p class="tituloTextCard">SIN FUNCIONALIDAD</p>
            <div class="container">
              <a routerLink="operacion" routerLinkActive="active">
              <button class="btn btn-warning">
                EJEMPLO
              </button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
