<body>
  <div class="row"></div>
  <div class="container-fluid mt-4">
    <p class="tituloText">ADMIN</p>
    <div class="row justify-content-center">
      <div class="col-auto mb-3">
        <div class="card">
          <div class="card-body">
            <p class="tituloTextCard">GESTION DE PLAZAS</p>
            <div class="container">
              <a routerLink="plazas" >
              <button class="btn btn-warning">
                MODIFICAR
              </button></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-auto mb-3">
        <div class="card">
          <div class="card-body">
            <p class="tituloTextCard">HISTÓRICOS</p>
            <div class="container">
              <a routerLink="historico" >
              <button class="btn btn-warning">
                VER HISTÓRICO
              </button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
