<body>
  <main>
    <section class="container container_size">
      <div class="row">
        <picture>
          <img
            src=".\assets\img\logo.png"
            alt="SIGEPARK"
            title="Sistema de Gestión de Parking"
            width="350"
          />
        </picture>
      </div>
      <div class="row">
        <picture>
          <img
            src=".\assets\img\bienvenido.png"
            alt="SIGEPARK"
            title="Bienvenido a SIGEPARK"
            width="350"
          />
        </picture>
      </div>
    </section>
  </main>
</body>
